langchain-text-splitters
langchain_experimental
sentence-transformers
langchain_community
langchain-ollama
lxml_html_clean
psycopg[binary,pool]
markitdown[all]
langchain-core
beautifulsoup4
scikit-learn
questionary
matplotlib
umap-learn
pydantic
ollama
rich
beir
